footer {
    background-color: $HeaderNFooter;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
}

.footer-title {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem;
}

.footer-content{
    display: flex;
}

.footer-links {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 1rem;
    transition: 100ms ease-in-out;
    &:hover{
        background-color: $WelcomeBackground;
        box-shadow: 0px 20px 24px -10px rgba(0,0,0,0.69);
        transform: scale(1.2);

    }
}

#fcc-link {
    background-image: url("/assets/fcc-icon.png");
}
#github-link {
    background-image: url("/assets/github-icon.png");
}
#codepen-link {
    background-image: url("/assets/codepen-icon.png");
}
#profile-link {
    background-image: url("/assets/linkedin-icon.png");
}