#projects {
    text-align: center;
    position: relative;
    padding: 2rem;
    background-color: $ProjectsBackground;
    h1{
        font-size: 2.2rem;
        font-weight: 300;
        color: white;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
    width: 100%;
    max-width: 1080px;
    margin: 2rem auto;
}

.project-tile {
    height: fit-content;
    width: 100%;
    border-radius: 0.125rem;
    background-color: $TileBackground;
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.57);
    overflow: hidden;
}

.project-img {
    transition: 150ms ease-in-out;
    width: 98%;
    margin-top: 0.2rem;

}

.project-tile:hover {
    .project-img{
        width: 100%;
        margin-top: 0;
    }

    .title {
        font-weight: 500;
    }
}

.title {
    transition: 150ms ease-in-out;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0;
}