#welcome-section {
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
}

#welcome-section .viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#welcome-section .viewport .welcome-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
}

#welcome-section .viewport .active {
    opacity: 1;
}

#div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
    background-color: $WelcomeBackground;

}

#div2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #0096c6;

    img {
        top: 15%;
        left: 10%;
        width: 350;
        height: 410px;
        opacity: 0.85;
        border-radius: 1.8rem;
        margin: 3rem;
        transition: 0.5s ease-in-out;
    }

    article {
        height: auto;
        margin: 2rem;
        font-weight: 300;
        
        h2 {
            font-size: 2.5rem;
            font-weight: 300;
        }
    }

    #content {
        position: absolute;
        top: 15%;
        display: flex;
        align-items: center;
        height: 80%;
        width: 80%;
        max-height: 600px;
        max-width: 1080px;
       // min-height: 520px;
        min-width: 920px;
        background-color: hsla(153, 10%, 17%, 0.5);
        border-radius: 0.2rem;
        font-size: 1.125rem;
    }
}

#button{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-image: url("https://img.icons8.com/ios-filled/50/27302c/expand-arrow--v1.png");
    background-repeat: no-repeat;
    background-size: cover;
    right: 1%;
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
    
}