html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-padding-top: 60px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-size: 10px;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #252525;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  -webkit-box-shadow: 0px 0px 4px 3px #000000;
          box-shadow: 0px 0px 4px 3px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
}

#nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 100%;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0.8rem 2rem;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.nav-links:hover {
  background-color: #3e4a3d;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  margin-top: 60px;
  position: relative;
  color: white;
}

#welcome-section .viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#welcome-section .viewport .welcome-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#welcome-section .viewport .active {
  opacity: 1;
}

#div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  background-color: #4a944b;
}

#div1 h1 {
  font-weight: 300;
}

#div2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0096c6;
}

#div2 img {
  top: 15%;
  left: 10%;
  height: 75%;
  opacity: 0.85;
  border-radius: 1.8rem;
  margin: 2rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#div2 article {
  max-height: 100%;
  margin: 2rem;
  font-weight: 300;
}

#div2 article h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

#div2 article p {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#div2 #content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 80%;
  max-height: 600px;
  max-width: 1080px;
  min-height: 420px;
  min-width: 980px;
  background-color: rgba(39, 48, 44, 0.5);
  border-radius: 0.2rem;
  font-size: 1.125rem;
}

#button {
  position: absolute;
  top: 50%;
  right: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-image: url("https://img.icons8.com/ios-filled/50/27302c/expand-arrow--v1.png");
  background-repeat: no-repeat;
  background-size: cover;
  right: 1%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#projects {
  text-align: center;
  position: relative;
  padding: 2rem;
  background-color: #006290;
}

#projects h1 {
  font-size: 2.2rem;
  font-weight: 300;
  color: white;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3rem;
  width: 100%;
  max-width: 1080px;
  margin: 2rem auto;
}

.project-tile {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border-radius: 0.125rem;
  background-color: #252525;
  -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.57);
          box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.57);
  overflow: hidden;
}

.project-img {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  width: 98%;
  margin-top: 0.2rem;
}

.project-tile:hover .project-img {
  width: 100%;
  margin-top: 0;
}

.project-tile:hover .title {
  font-weight: 500;
}

.title {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}

footer {
  background-color: #252525;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
  padding: 3rem 0;
}

.footer-title {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-links {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.footer-links:hover {
  background-color: #4a944b;
  -webkit-box-shadow: 0px 20px 24px -10px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 20px 24px -10px rgba(0, 0, 0, 0.69);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#fcc-link {
  background-image: url("/assets/fcc-icon.png");
}

#github-link {
  background-image: url("/assets/github-icon.png");
}

#codepen-link {
  background-image: url("/assets/codepen-icon.png");
}

#linkedin-link {
  background-image: url("/assets/linkedin-icon.png");
}

@media screen and (max-height: 740px) {
  #welcome-section .viewport #div2 #content {
    font-size: 1rem;
  }
}

@media screen and (max-width: 980px) {
  nav {
    height: auto;
    position: relative;
  }
  #nav-links-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #welcome-section {
    margin-top: 0;
  }
  #welcome-section #button {
    width: 40px;
    height: 40px;
  }
  #welcome-section .viewport #div2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    max-height: none;
    min-height: none;
  }
  #welcome-section .viewport #div2 #content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 260px;
    max-height: none;
    min-height: none;
    overflow: scroll;
  }
  #welcome-section .viewport #div2 #content img {
    height: 410px;
  }
}

@media screen and (max-width: 980px) and (max-width: 500px) {
  #welcome-section .viewport #div1 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */